/* :root{
    --back-color: rgba(128, 0, 128, 0.267);
}

.dialogs{
    background: var(--back-color);
} */

.dialogs{
    display: grid;
    grid-template-columns: 3fr 5fr;
    padding: 10px;
}

.dialog_item{

}

.dialog{

}
.dialog.active{
    color: blue;
}
.dialog.header, .message.header{
    font-weight: bold;
    text-align: center;
}
.messages{

}

.message{

}
.item a{
    text-decoration: none;
    color: black;
}
.item a.active{
    color:#a00b01;
    font-size: 18px;
}
.item img{
    width: 30px;
    transform: translateY(8px);
}